.Contact {
  background-color: var(--sen-bg-color);
  color: var(--pri-bg-color);
  font-weight: 900;
  font-family: var(--pri-font);
  padding-top: 10px;
}
.Contact .row {
  flex-direction: row-reverse;
}
