.Header {
}
.Header .row {
  /* flex-direction: row-reverse; */
}
.Header .search {
  align-self: center;
}
.Header .search input {
  cursor: pointer;
}
.Header .dashboard {
  align-self: center;
}
.Header .btn {
  color: antiquewhite;
}
