.Menu {
  padding-top: 50px;
}
.Menu .navbar-nav {
  flex-direction: row-reverse;
}
.Menu .navbar-collapse {
  justify-content: end;
}
.Menu header {
  display: flex;
}
.Menu .navbar ul li button,
.Menu .navbar .active {
  color: var(--sec-bg-color);
}
.Menu .menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
