.Support {
  background-color: var(--qua-bg-color);
  margin: 40px;
  border-radius: 4px;
  padding: 30px 20px 30px 35px;
}
.Support .row {
  flex-direction: row-reverse;
}
.Support .col {
}
.Support .support-icon {
  align-self: center;
}
